body {
  font-family: verdana;
}

form {
  display: flex;
  flex-direction: column;
}

img {
  width: 100%;
  height: auto;
  margin: 1rem;
}

form > * {
  margin: 1rem;
}


.reviews ul {
  flex-direction: column;
}

li {
  margin: 1rem;
}

#cpanel {
  display: flex;
  justify-content: space-around;
}

